  <div class="container-xl" style="margin-top: 1rem;">
    <!-- Page title -->
    <div class="page-header d-print-none">
      <div class="row g-2 align-items-center">
        <div class="col">
            <!-- Page pre-title -->
            <div class="page-pretitle">
              {% block titleBreakcrumbs %}{% endblock %}
            </div> 
            <h2 class="page-title">
              {% block titleSection %}{% endblock %}
            </h2>
          </div>
        <!-- Page title actions -->
        <div class="col-12 col-md-auto ms-auto d-print-none">
          <div class="btn-list">
           
          </div>
        </div>
      </div>
    </div>
  </div>