{% extends "home/base.html" %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<style>

</style>
{% endblock stylesheets %}

{% block content %}
<div class="row row-deck row-cards">
    <section class="pt-4 pt-md-11">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-md-5 col-lg-6 order-md-2">
  
              <!-- Image -->
              <img src="{% static 'project_static/other/img/illustration-2.png' %}" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" alt="..." data-aos="fade-up" data-aos-delay="100">
  
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate" data-aos="fade-up">
  
              <!-- Heading -->
              <h1 class="display-3 text-center text-md-start">
                Bienvenido a <span class="text-primary">PdE</span>. <br>
                Exclusivo para Estudiantes.
              </h1>
  
              <!-- Text -->
              <p class="lead text-center text-md-start text-muted mb-6 mb-lg-8">
                Esta aplicacion web, es para que los estudiantes puedan organizar sus materiales de estudios.
              </p>
  
              <!-- Buttons -->
              <div class="text-center text-md-start">
                <a href="overview.html" class="btn btn-primary shadow lift me-1">
                  View all pages <i class="fe fe-arrow-right d-none d-md-inline ms-3"></i>
                </a>
                <a href="docs/index.html" class="btn btn-primary-soft lift">
                  Documentation
                </a>
              </div>
  
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </section></div>
{% endblock content %}

{% block javascripts %}
{{ block.super}}
{% endblock javascripts %}